* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
header {
  padding-left: 20px;
}
header h1 {
  margin-bottom: 25px;
}
ul {
  list-style: none;
  font-size: 20px;
  padding: 0;
  margin-bottom: 20px;
}
li {
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}

.main-image {
  max-width: 1640px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

section {
  color: #707070;
  padding: 40px 20px;
}

section h2 {
  font-size: 40px;
}

section h4 {
  font-size: 30px;
  margin: 15px 0;
}

section p {
  font-size: 18px;
}
h2 {
  margin-bottom: 50px;
}
.box-image {
  width: 483px;
  max-width: 100%;
  margin-top: 40px;
  border-width: 10px;
  border-color: black;
  border-style: solid;
}
article p {
  margin-bottom: 50px;
}
.button-more {
  font-size: 24px;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
}
footer h1 {
  margin-bottom: 30px;
}
